{% extends 'MiAppBundle::Default/index.html.twig' %}
{#{% block stylesheets %}#}
    {##}
    {#<link href="{{ asset('bundles/miapp/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />#}
{#{% endblock %}#}
{% block editor %}
    
   <div class="container">
    <table  class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ equipo.nombre }}</td>
            </tr>
            <tr>
                <th>Ptos</th>
                <td>{{ equipo.ptos }}</td>
            </tr>
        </tbody>
    </table>
   <div class="container">
    <ul>
        
        <button class="btn btn-default  pull-center ">
            <a href="{{ path('equipos_index') }}" toggle="tooltip" title="Volver">
                <span class="glyphicon glyphicon-chevron-left" style="color:#00695c"></span>
            </a>
        </button>
        <button class="btn btn-default  pull-center">
            <a href="{{ path('equipos_edit', { 'id': equipo.id }) }}" toggle="tooltip" title="Editar Equipo">
                <span class="glyphicon glyphicon-pencil" style="color:#00695c"></span>
            </a>
        </button>
    </ul>
   
{% endblock %}
