{% extends 'base.html.twig' %}
{% block stylesheets %}
    
    <link href="{{ asset('bundles/miapp/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    
    <h1 style="text-align:center">Editar Equipo
       
             
           <button class="btn btn-default  pull-left ">
                <a href="{{ path('equipos_index') }}" toggle="tooltip" title="Volver">
                    <span class="glyphicon glyphicon-chevron-left" style="color:#00695c"></span>
                </a>
            </button>
        
         
    </h1>

    <div class="containar" style="text-align:center">
        <table  class="table table-hover">  

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Guardar" toggle="tooltip" title="Guardar cambios"/>
            {{ form_end(edit_form) }}

              
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" toggle="tooltip" title="Eliminar equipo">
            {{ form_end(delete_form) }}
         </table> 
        
    </div>
{% endblock %}
