{% extends 'MiAppBundle::Default/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" />
{% endblock %}
{% block editor %}
	<br>
	<br>
	
    
	<div class="containar" style="background-color: white;" >
		<br>
		<h1 style="text-align:center; color:#0277bd  ; font-family: 'Play'; font-size: 40px; font-weight:bold">Editar Partido
       
             
           <button class="btn btn-default  pull-left ">

                <a href="{{ path('editor_index') }}" toggle="tooltip" title="Volver">
                    <span class="glyphicon glyphicon-chevron-left" style="color:#00695c"></span>
                </a>
            </button>
        
         
		</h1>
		<br>
		{{ form_start(edit_form) }}
			{{ form_row(edit_form) }}
	<br>
	</div>
	<div>
		<br>
			<button class="btn btn-default pull-right" type="submit" value="Guardar" toggle="tooltip" title="Guardar cambios" >
				Guardar	
			</button>
		{{ form_end(edit_form) }}
	</div>
    
{% endblock %}
