{% extends 'MiAppBundle::Default/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play"/>
{% endblock %}
{% block editor %}
    <br>
    <br>
    <br>
    <div class="container" style="background-color: white;">
        {% block titulo %}
            <h1 style="text-align:center; color:#0277bd  ; font-family: 'Play'; font-size: 40px; font-weight:bold">
                Campeonato


            </h1>
        {% endblock %}
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Equipo Local</th>
                <th>Equipo Visitante</th>
                {#<th>Resulteq1</th>#}
                {#<th>Resulteq2</th>#}
                <th>Observacion</th>
                <th>Termino</th>
                <th>Editor</th>
                <th>Arbitro</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for partido in partidos %}
                <tr>
                    <td>{% if partido.fechaPartido %}{{ partido.fechaPartido|date('Y-m-d') }}{% endif %}</td>
                    <td>{{ partido.idEquipo1.getNombre() }} ({{ partido.resultEq1 }})</td>
                    <td>{{ partido.idEquipo2.getNombre() }} ({{ partido.resultEq2 }})</td>
                    {#<td>{{ partido.resultEq1 }}</td>#}
                    {#<td>{{ partido.resultEq2 }}</td>#}
                    <td>{{ partido.observacion }}</td>
                    <td>{% if partido.termino %}Yes{% else %}No{% endif %}</td>
                    <td>{{ partido.idEditor }}</td>
                    <td>{{ partido.idArbitro }}</td>

                    <td>
                        <ul>
                            {% block editref %}
                            {% if is_granted('ROLE_ADMIN') %}
                            <button class="btn btn-default pull-right">

                                    <a href="{{ path('partidos_edit', { 'id': partido.id }) }}" toggle="tooltip"
                                       title="Visualizar Partido">
                                        <span class="glyphicon glyphicon-eye-open" style="color:#00695c"></span></a>
                                </button>
                            {% endif %}

                            {% endblock %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
    <br>
    {% block administrador %}
        {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a href="{{ path('partidos_new') }}">
                <button class="btn btn-default pull-left">Agregar Partido</button>
            </a>
        </div>
        {% endif %}

    {% endblock %}

{% endblock %}
