{% extends 'MiAppBundle::Default/index.html.twig' %}

{% block editor %}
    <h1>Partidos</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partido.id }}</td>
            </tr>
            <tr>
                <th>Fechapartido</th>
                <td>{% if partido.fechaPartido %}{{ partido.fechaPartido|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resulteq1</th>
                <td>{{ partido.resultEq1 }}</td>
            </tr>
            <tr>
                <th>Resulteq2</th>
                <td>{{ partido.resultEq2 }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ partido.observacion }}</td>
            </tr>
            <tr>
                <th>Termino</th>
                <td>{% if partido.termino %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('partidos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('partidos_edit', { 'id': partido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
